/* nav.css */

/* Reset en basis */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigatie */
.nav {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: white;
  z-index: 10;
}

.nav h1 {
  font-size: 22px;
  font-weight: bold;
}

.nav button {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.nav button:hover {
  background: white;
  color: teal;
}

.logo {
  width: 40px;       /* pas grootte aan naar wens */
  height: auto;
  margin-right: 10px; /* ruimte tussen logo en tekst */
}

.title-link {
  display: flex;        /* logo + tekst naast elkaar */
  align-items: center;  /* verticaal uitlijnen */
  text-decoration: none; 
  color: white;
}

.title-link img {
  width: 80px;          /* pas grootte logo aan */
  height: auto;
  margin-right: -10px;   /* ruimte tussen logo en tekst */
}

/* //fonts */
    h1, h2, h3, h4, h5, h6  {
    font-family: 'Archivo Black', sans-serif  !important;
}

/* Paragraph en standaard tekst = ADLaM Display */
    p, span, div, input, button {
      font-family: 'ADLaM Display', cursive;
    }

.footer-image {
  position: absolute;
  bottom: 0;     /* onderaan */
  right: 0;      /* helemaal rechts */
  padding: 10px;
  background-color: transparent;
}

.footer-image img {
  width: 275px;  /* grootte aanpassen */
  height: auto;
}

